.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ion-color-primary);
  color: #fff;

  .img-wrap {
    width: 100px !important;
    height: 100px !important;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.display-name {
  text-align: center;
}

.email {
  overflow-wrap: break-word;
  width: 100%;
  text-align: center;
}

.menu {
  background-color: #fff;
}


/* List item visuals */
.settings ion-item {
  --background: transparent;
  --border-width: 0;
  --min-height: 52px;
}

.settings ion-item+ion-item {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.settings ion-icon[slot="start"] {
  color: var(--ion-color-medium);
  margin-right: 20px;
}


ion-modal {

  ion-footer {

    ion-button {
      height: 46px !important;
      width: 50%;
    }

    .action {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

ion-footer {
  background-color: #fff;

  ion-button {
    height: 50px;
    --box-shadow: none !important;
  }
}
