:host {
  --safe-bottom: env(safe-area-inset-bottom, 0);
}

ion-header,
ion-toolbar {}

.fullscreen,
.stage,
.video-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

video,
.preview-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(1);
}

.video-splash {
  position: absolute;
  inset: 0;
  background: #fff;
  z-index: 100;
}

.unsupported-msg {
  position: absolute;
  inset: auto 1rem 1rem 1rem;
  padding: .75rem 1rem;
  background: rgba(0, 0, 0, .7);
  color: #fff;
  border-radius: .5rem;
  text-align: center;
}

.tap-start {
  position: absolute;
  inset: 0;
  margin: auto;
  width: min(80vw, 280px);
  height: 48px;
  border-radius: 999px;
  border: none;
  background: #ffffff;
  color: #000000;
  font-weight: 600;
}

.bottom-ctr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(20px + var(--safe-bottom));
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  pointer-events: none;
}

.cap-btn,
.submit-btn,
.retry-btn {
  height: 50px;
  margin: 0 !important;
  pointer-events: all;
}

.cap-btn,
.retry-btn {
  height: 50px;
  width: 50px;
}
.cap-btn {
  width: 70px;
  height: 70px;
}

.qr-box-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.qr-box {
  width: 70%;
  border: 4px dashed #fff;
  height: min(70%, 250px);
  border-radius: 20px;
}

.fab-switch {
  margin-bottom: calc(8px + var(--safe-bottom));
}

/* Segment visuals */
// ion-segment {
//   width: fit-content;
//   background: rgba(255, 255, 255, 0.08);
// }

// ion-segment-button {
//   --background: transparent;
//   --color: #bbb;
//   --indicator-color: transparent;
//   font-weight: 500;
//   transition: all 0.2s ease;
// }

// ion-segment-button.segment-button-checked {
//   --background: #ffffff;
//   --color: #000000;
//   box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
// }

// ion-segment-button:not(.segment-button-checked) {
//   opacity: 0.7;
//   backdrop-filter: blur(2px);
// }
