<ion-content [fullscreen]="true" class="ion-padding page">
  <div class="wrap">
    <div class="content">
      <div class="title">
        <img src="assets/images/banner.png" alt="ASL hand sign" class="header-image" />
        <h1 class="app-name">DX OCR</h1>
      </div>
      <div class="actions">
        <ion-button expand="block" color="light" routerLink="/register" shape="round">
          SIGNUP
        </ion-button>
        <ion-button shape="round" color="light" fill="outline" routerLink="/login">LOGIN</ion-button>
      </div>

    </div>
  </div>
</ion-content>
