<ion-header [ngClass]="{ 'no-shadow': !showShadow }">
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/profile">
      <ion-img class="logo" src="assets/images/avatar.png" alt="UDM logo"></ion-img>
    </ion-buttons>
    <ion-title>Hello, {{currentProfile?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/help-support" [state]="{ backUrl: 'home' }">
        <ion-icon name="help-circle" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/search">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" class="refresher-custom">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="wrapper" [ngClass]="{'no-records': !isLoading && verificationHistory.length === 0}">
    <section class="verifier ion-padding">

      <ion-button fill="clear" (click)="onShowScanner()">
        <div class="inner-button">
          <ion-icon size="large" name="scan-outline"></ion-icon>
          <span>Scan document</span>
        </div>
      </ion-button>

      <ion-text class="or">OR</ion-text>

      <ion-button fill="clear" (click)="onShowUploader()">
        <div class="inner-button">
          <ion-icon size="large" name="cloud-upload-outline"></ion-icon>
          <span>Upload document</span>
        </div>
      </ion-button>

    </section>
    <section class="verification-history ion-padding">
      <h2>History</h2>
      @if(isLoading && verificationHistory.length === 0) {
        <ngx-skeleton-loader [theme]="{ height: '70px'}" count="4" />
      }@else {
      @if(verificationHistory.length > 0) {
      <div class="verification-list">
        @for (verification of verificationHistory; track verification) {
        <ion-card class="verification-item" button class="ion-activatable ripple-parent">
          <ion-button class="more-btn" fill="clear" shape="round" (click)="openMenu(verification)">
            <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-card-header>
            <ion-card-title button (click)="onOpenDetails(verification)">
              <ion-text color="{{
                    verification.status === 'AUTHENTIC' ? 'primary' :
                    verification.status === 'ERROR' || verification.status === 'FAKE' ? 'danger' : ''
                  }}
                  " class="status-text">{{verification?.status}}</ion-text>
              <h4 class="title">{{verification?.data?.name}}</h4>
            </ion-card-title>
            <ion-card-subtitle (click)="onOpenDetails(verification)">
              <ion-text class="subtitle">{{verification?.type}}</ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <div class="card-content-footer" (click)="onOpenDetails(verification)">
              <ion-text color="medium">{{verification?.data?.address}}</ion-text>
              <p>{{verification?.timestamp | timeAgo }}</p>
            </div>
          </ion-card-content>
        </ion-card>
        }
      </div>
      } @else {
      <div class="empty-placeholder">
        <ion-icon src="assets/icon/empty-record-placehoder.svg"></ion-icon>
        <h4>No Scanned Documents Yet</h4>
        <ion-text>Start by scanning your first document to verify its authenticity.</ion-text>
      </div>
      }
      }
    </section>
  </div>
  <ion-infinite-scroll [disabled]="total === verificationHistory.length || isLoading" threshold="120px"
    (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-spinner style="width: 100%;margin: 10px 0;"
    *ngIf="isLoading && verificationHistory.length > 0 && total !== verificationHistory.length"></ion-spinner>
</ion-content>

<ion-footer class="modal-safe-botom no-shadow">
</ion-footer>
