ion-toolbar,
ion-content {
  --background: #effbff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.no-records {
    .verifier {
      height: 100%;
      align-items: center;
      justify-content: center;

      @media (max-width: 480px) {
        flex-direction: column;
      }

      ion-button {
        width: 30%;
      }
    }
  }
}

ion-img {
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  box-sizing: border-box;
  margin-left: 10px;
}

section {
  width: 100%;
  display: flex;
}

.verifier {
  flex-direction: row;
  background: transparent;
  gap: 16px;
  align-items: center;
  justify-content: center;

  @media (max-width: 480px) {
    ion-button {
      width: 80% !important;
    }
  }

  ion-button {
    width: 30%;
    --background: #ffffff;
    --border-radius: 10px;
    --box-shadow: 0px 1px 10px 0px #0000000a !important;
    --padding-top: 20px !important;
    --padding-bottom: 20px !important;
    --padding-start: 20px !important;
    --padding-end: 20px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: none;
    margin: 0 !important;

    .inner-button {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      gap: 16px;

      ion-icon {
        color: #1e70ff;
        background: #e9f2ff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

      }
    }

    span {
      font-size: 14px;
      color: #333;
      text-align: center;
    }
  }
}


.verification-history {
  flex-direction: column;
  background: #fff;
  height: 100%;
  min-height: max-content;
  box-shadow: 0px 0px 4px 0px #00000012 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .verification-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  ion-card {
    box-shadow: none;
    background-color: #eaf2f5;
    // box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.0784313725), 0px 0px 1px 0px rgba(0, 0, 0, 0.0392156863);
    border-radius: 16px;
    margin: 0 !important;

    ion-card-header {
      padding-bottom: 0px;

      ion-card-title {

        .title {
          margin: 10px 0px 0px 0px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          /* number of lines you want */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          /* allow wrapping */
          max-height: 3rem;
          /* adjust based on font size/line-height */
        }

        .status-text {
          font-size: 1rem;
        }
      }

    }

    ion-card-content {
      display: flex;
      flex-direction: column;

      .card-content-footer {
        display: flex;
        flex-direction: column;

        ion-text {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          max-height: 3rem;
        }

      }
    }
  }

  .more-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    --border-radius: 9999px;
    backdrop-filter: saturate(1.2);
  }


}

.empty-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  ion-icon {
    height: 150px;
    width: 100%;
  }
}


ion-footer{
  background-color: #fff;
}
