.upload-modal {
  --background: #ffffff;
}

.dropzone {
  border: 2px solid var(--ion-color-tertiary);
  border-radius: 30px;
  padding: 28px;
  text-align: center;
  cursor: pointer;
  background: #f8fafc;
  max-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropzone ion-icon {
  display: block;
  margin: 0 auto 10px;
  color: #1e70ff;
}

.dropzone .hint {
  color: #475569;
  font-size: 14px;
}

.preview-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview {
  border-radius: 12px;
  overflow: hidden;
  background: #f1f5f9;
  border: 1px solid #e2e8f0;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .clear {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.preview img {
  height: 100%;
  display: block;
  object-fit: contain;
  width: 100%;
}

.meta {
  margin-top: 12px;
}

.meta .name {
  font-weight: 600;
  color: #0f172a;
}

.meta .size {
  font-size: 12px;
  color: #64748b;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  background-color: #fff;
}

ion-footer {
  background-color: #fff;
  padding-bottom: 16px;

  ion-button {
    height: 50px;
    margin: 0 !important;
  }
}
