.verification-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

ion-card {
  box-shadow: none;
  background-color: #eaf2f5;
  // box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.0784313725), 0px 0px 1px 0px rgba(0, 0, 0, 0.0392156863);
  border-radius: 16px;
  margin: 0 !important;

  ion-card-header {
    padding-bottom: 0px;

    ion-card-title {

      .title {
        margin: 10px 0px 0px 0px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines you want */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        /* allow wrapping */
        max-height: 3rem;
        /* adjust based on font size/line-height */
      }

      .status-text {
        font-size: 1rem;
      }
    }

  }

  ion-card-content {
    display: flex;
    flex-direction: column;

    .card-content-footer {
      display: flex;
      flex-direction: column;

      ion-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        max-height: 3rem;
      }

    }
  }
}

.more-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  --border-radius: 9999px;
  backdrop-filter: saturate(1.2);
}

.empty-placeholder-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  ion-icon {
    height: 150px;
    width: 100%;
  }
}


ion-footer {
  background-color: #fff;
}
